
/MemoryIssues/01.CashCogerent/bin
/MemoryIssues/01.CashCogerent/obj
/MemoryIssues/02.TypeLocallity/bin
/MemoryIssues/02.TypeLocallity/obj
/MemoryIssues/03.StructVsClass/bin
/MemoryIssues/03.StructVsClass/obj
